body {
    padding-bottom :2%
}

.error{
    font-size: 100% !important;
}

.scroll {
    max-height: 600px;
    max-width: auto;
    overflow-y: auto;
}

#formEdit{
    color:white
}

.containerHome {
    justify-content: center;
    align-items: flex-start;
    background-color: #3f4441;
    padding :2% 1%;
    max-width: 90% !important;
    margin: auto;
    border: 15px solid #ba7967 ;
    background-image: url("https://wallpaperplay.com/walls/full/8/a/c/68289.jpg");
    background-size: cover;
}

.containerIndex {
    background-color: #3f4441;
    padding :2% 1%;
    max-width: 40% !important;
    margin-top: 1%;
    border: 15px solid #ba7967 ;
    background-image: url("https://wallpaperplay.com/walls/full/8/a/c/68289.jpg");
    background-size: cover;
}

.section{
    background-color: #5e6f64;
    margin: 0% 1%;
    padding: 1%;
    width: 100%;
}

.sectionBacklog .perCard{
    background-color: #f4ebc1;
    border: 5px solid #f4ebc1;
}
.sectionBacklog .card{
    border: 1px solid #f4ebc1;

}

.sectionProduct .perCard{
    background-color: #a0c1b8;
    border: 2px solid #a0c1b8;
}
.sectionProduct .card{
    border: 1px solid #a0c1b8;
}


.sectionDev .perCard{
    background-color: #709fb0;
    border: 2px solid #709fb0;
}
.sectionDev .card{
    border: 1px solid #709fb0;
}


.sectionDone .perCard{
    background-color: #726a95;
    border: 2px solid #726a95;

}
.sectionDone .card{
    border: 1px solid #726a95;
}



.title{
    font-size: 20pt;
    font-family: 'Galada', cursive;
    text-align: center;
    color:#fafafa;
}

.card{
    background-color: white;
    padding: 0% 10%;
    margin-left: 1%;
    margin-bottom: 4%;
}

#header{
    font-family: 'Galada', cursive;
    text-align: center;
    color:#393939
}

.titleIndex{
    font-family: 'Galada', cursive;
    text-align: center;
    color:white;
    margin-bottom:8%;
}

.bottomSection{
    margin-top: 5%;
}

.separator{
    background-color:white
}

.mine{
    /* background: #ba7967 !important; */
    /* background:rgb(249, 192, 41, 0.8) !important; */
    border-right: 13px groove #ffc107 !important;
    color:black;
    
}

.mine button{
    pointer-events: all;
    opacity: 1;
    
}

.btn-action{
    background-color: #596e79;
    border-color: #596e79;
    color:white !important;
    pointer-events: none;
    opacity: 0.7;
}

.bg-danger{
    background-color: #f08a5d;
    border-color: #f08a5d;
    color:white !important;
    pointer-events: none;
}

.movePage{
    border-radius: .25rem;
}

.btn-brown{
    background-color: #ba7967;
    border-color: #ba7967;
    color:white
}

.btn-warning{
    border-left: 5px solid #ab8119 !important;
}
